@{
    var description = "The easiest way to find the formal language specification for your favorite programming language.";
    var title = "All of your language specs, all in one place";
    var url = Url.Action("Index", "Home", null, protocol: Context.Request.Scheme);
}

<title>@title</title>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="language" content="en-us" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-language" content="en-us" />

<meta name="description" content="@description" />
<link rel="publisher" href="@url" />

<meta property="og:title" content="@title" />
<meta property="og:type" content="website" />
<meta property="og:url" content="@url" />
<meta property="og:description" content="@description" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="@url" />
<meta name="twiter:title" content="@title" />
<meta name="twiter:description" content="@description" />

<meta name="google-site-verification" content="H8_xXBtP-gA95yOFP8tfi67XW74QUjMGP_Jr8diL6ak" />
<meta name="msvalidate.01" content="767B8478A8D8CF83DF28EFE976F167E2" />